

.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li{
    margin-left: 50px;
    font-weight: 600;
}


@media (max-width: 768px){
    .menu{
        display: none;
    }
   
}