.hero_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
  background: radial-gradient(rgba(22, 1, 1, 0.815), rgba(24, 23, 23, 0.829)), url(https://i.pinimg.com/originals/9f/f5/17/9ff51769cbba872d3b5a82039bb1e04c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

.hero_text h1{
  font-size: 72px;
  line-height: 1.6;
text-align: center;
}

.hero_text button{
  margin-top: 30px;
}


/* features */

.feature_left{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  border-bottom: 7px solid rgb(82, 82, 82);
}

.feature_image{
  flex: 1;
  display: flex;
  justify-content: center;
}

.feature_text{
  flex: 1;

}

.feature_text h3{
  font-size: 2.4rem;
}

.feature_text p{
  color: rgb(175, 173, 173);
}

.box_grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card{
  border: 2px solid gray;
  border-radius: 12px;
  padding: 12px 12px;
  line-height: 1.6;
  color: rgb(175, 173, 173);
}

.card h4{
  font-style: italic;
  text-align: right;
  color: #0071eb;
}


.icon_list{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}




.icon_list h4{
  margin-top: 15px;
  font-size: 1.2rem;
}

.icon_list p{
  color: gray;
}


@media (max-width: 768px){
  .hero_text h1{
    font-size: 48px;
  }

  .feature_left{
    flex-direction: column;
  }

  .box_grid{
    grid-template-columns: 1fr;
  }
}